/* General Styling */

body{
  background-color: #1d2d50;
  text-align: center;
}

strong{
  color:grey;
}

h1, h3, p, li{
  color: #fff;
}

footer{
  text-align: left;
  margin: 0;
  padding: 0; important;
}

/* Head Section */

.nav-style{
  text-align: left;
  font-family: Monserate;
  padding : 2% 10% 1%;
}

.head-section{
  background-image: url('images/50.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  padding: 0% 0% 3%;
  text-align: center;
}

.head-matter{
  text-align: left;
  padding: 5% 15% 5%;
}

.section-image{
  display: inline-block;
  text-align: left;
  margin: auto auto;
  width: 100%;
}

@media (min-width : 992px) {
  .top{
    position: relative;
    top: 25%;
    transform: translateY(0);
  }

  .head-matter h1{
    font-size: 3rem;
  }

}

@media (max-width : 992px) {
  .head-matter{
    text-align: center;
    padding: 1% 30%;
  }
}

/* Feature Section */

.feature-section{
  background-image: url('images/bg-curvy-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5% 10%;
}

.feature-image{
  height: 300px;
  margin: 2%;
}

.productive{
  text-align: left;
  padding: 5% 10%;
}
.text-img{
  margin-top: 5%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.link{
  color: springgreen;
}

.link:hover{
  color: springgreen;
}

.feature-link:hover{
  text-decoration: none;
}

/* Subscription Section */

.subscription{
  padding: 2% 5%;
  width: 70%;
  border: 2px blue solid;
  border-radius: 10px;
}

.subscription-form{
  border-radius: 3px;
  width: 96%;
  font-size: 96%;
  text-align: center;
  margin-bottom: 2%;
  padding: 2%;
}

.footer-links{
  margin: 10px;
  padding: 0px;
}
